* {
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 1rem 0;
}

main > section {
  min-height: 100vh;
}

.profile-image {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}

.card {
  width: 18rem;
}

.invisible-box {
  height: 56px;
}

#projects {
  padding-top: 56px;
}

#user-profile {
  width: 50%;
}
