nav,
footer {
  height: 10vh;
  max-height: 56px;
}

main > section {
  height: 100vh;
}

.section-double {
  height: 10vh;
  max-height: 56px;
}

.profile-image {
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
}
