* {
  font-family: 'Roboto', sans-serif;
}

footer {
  padding: 1rem 0;
}

main > section {
  min-height: 100vh;
}

.profile-image {
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
}

.card {
  width: 18rem;
}

.invisible-box {
  height: 56px;
}

#projects {
  padding-top: 56px;
}

#user-profile {
  width: 50%;
}

#contact {
  width: 50%;
}

textarea {
  resize: none;
}

#message-submit-btn {
  width: 100%s;
}

@media (min-width: 810px) and (min-height: 1080px) {
  #user-profile {
    width: 75%;
  }

  main > section {
    height: 0px !important;
  }
}
